@page "/ShoppingList"


@using HomeAppsBlazerServer.Components.Pages.Shopping.PriceHistory
@using HomeAppsBlazerServer.Models
@using HomeAppsBlazerServer.Servcies
@using HomeAppsBlazerServer.Servcies.Shopping

@*Endalbes it*@
@* @rendermode InteractiveServer *@

@* jackes up the view of the table *@
@rendermode @(new InteractiveServerRenderMode(prerender: false))


@* Loads as it as it download it. *@
@attribute [StreamRendering]

@inject IShoppingServices ShoppingServices

@inject NavigationManager NavigationManger
@inject IJSRuntime JsRuntime

@layout HomeAppsBlazerServer.Components.Layout.Shopping.ShoppingLayout

<PageTitle>Shopping List</PageTitle>
<h3>Shopping Items</h3>



@if(CurrentShoppingList is null)
{
     <p><em>Loadding List Items....</em></p>
}
else if (CurrentShoppingList.Count.Equals(0))
{
    <p><em>Did not find any items</em></p>
}
else
{


    <table class="table">
        <thead>
        <th>Item Name</th>
        <th></th>
        </thead>
        <tbody>
            @foreach (var item in CurrentShoppingList)
            {
                <tr id="@item.ShoppingItemListID">
                    <td> <span class="link-primary" @onclick="@(() => GotItem(item.ShoppingItemListID))"> @item.ItemName </span> 
                        @if(item.NumberOfItems.HasValue)
                        {
                             <span> - @item.NumberOfItems</span> 
                        }
                        @if(item.Price.HasValue)
                        {
                                <span @onclick="@(() => ShowHistory(item.ItemID))"> $@item.Price </span/> <!--Need to pass the Item ID not ItekListID-->
                        }
                        @if(item.storename != null){
                            <span> - @item.storename</span> 
                        }

                       </td>
                   

                    <td><span class="link-primary" @onclick="@(() => EditItem(item.ShoppingItemListID))"> Update </span> </td>
                </tr>
            }
        </tbody>
    </table>

}

  <PriceHistoryOverview @ref="popupRef" />


@code {
    List<ShoppingItemResult> CurrentShoppingList;

     private PriceHistoryOverview popupRef;

    private void ShowHistory(int id)
    {
        
       List<PriceHistory> ItemPriceHistory =  ShoppingServices.GetPriceHisotry(id).Result;

        popupRef.Show(ItemPriceHistory);
    }


    protected override async Task OnInitializedAsync()
    {
        CurrentShoppingList = await GetShoppingItems();

    }


    async Task<List<ShoppingItemResult>> GetShoppingItems()
    {
        return await ShoppingServices.GetAllNeedItemsAsync();
    }

    void EditItem(int id)
    {
        NavigationManger.NavigateTo($"CreateEditListItem/{id}");
    }

    async Task GotItem(int id)
    {
        await ShoppingServices.GotItem((int)id);
        CurrentShoppingList.Remove(CurrentShoppingList.First(m => m.ShoppingItemListID == id));
        //await JsRuntime.InvokeVoidAsync("alert", "Item Added");

    }


}
