@page "/ItemBrand"

@using HomeAppsBlazerServer.Models
@using HomeAppsBlazerServer.Models.Shopping
@using HomeAppsBlazerServer.Servcies
@using HomeAppsBlazerServer.Servcies.Shopping

@*Endalbes it*@
@* @rendermode InteractiveServer *@

@* jackes up the view of the table *@
@rendermode @(new InteractiveServerRenderMode(prerender: false))


@* Loads as it as it download it. *@
@* @attribute [StreamRendering] *@

@inject IShoppingServices ShoppingServices
@inject NavigationManager NavigationManger

@layout HomeAppsBlazerServer.Components.Layout.Shopping.ShoppingLayout

<PageTitle>Shopping Brandss</PageTitle>
<h3>Shopping Brands</h3>

@if (AllItemBrands is null)
{    
    <p><em>Loading Brands....</em></p>
}
else if (AllItemBrands.Count.Equals(0))
{
    <p><em>No Brands found....</em></p>
}
else
{
    <div class="container">
        <!-- Headers Row -->
        <div class="row border-bottom py-2 fw-bold">
            <div class="col-md-2">Brands Name</div>

        </div>
 
        @foreach (var Brands in AllItemBrands)
        {
            <div class="row border-bottom py-1">
                <div>
                    <span class="col-md-4 link-primary" @onclick="@(() => EditBrands(Brands.ItemBrandsId))">
                        @Brands.BrandName
                    </span>

                    <span class="link-primary" @onclick="@(() => DeleteBrands(Brands))">
                        - @(Brands.IsDeleted == false ? "Disable" : "Enable")
                    </span>
                </div>

            </div>
        }
    </div>

    <div style="padding-top:40px" />

    <button class="btn btn-primary" @onclick="AddBrands">Add Brand</button>

}


@code {
    List<ItemBrand> AllItemBrands;

    protected override async Task OnInitializedAsync()
    {
        AllItemBrands = await ShoppingServices.GetItemBrandsAsync();
    }

    void EditBrands(int id)
    {
        NavigationManger.NavigateTo($"edit-brands/{id}");
    }
    void AddBrands()
    {
        NavigationManger.NavigateTo($"edit-brands/");
    }

    async Task DeleteBrands(ItemBrand brand)
    {
        await ShoppingServices.RemoveItemBrands(brand.ItemBrandsId);

        AllItemBrands.Remove(brand);

    }
}
